<div class="gw-sidebar">
  <div id="gw-sidebar" class="gw-sidebar">
    <article id="avatar">
      <span>Hello Student! </span>
      <img src="images/avatar.png" width="175" height="175">
    </article>
    <div class="nano-content">
      <selection id="title">My Courses</selection>
      <ul class="gw-nav gw-nav-list">
        <li class="init-arrow-down" *ngFor="let line of menu">
          <a href="javascript:void(0)">
            {{line.menu.name}}
          </a>
          <template [ngIf]="line.subMenu.length > 0">
            <ul class="gw-submenu">
              <li *ngFor="let sub of line.subMenu" (click)="getImages(line.menu,sub)">
                <a href="javascript:void(0)">
                  {{sub}}
                </a>
              </li>
            </ul>
          </template>
          <template [ngIf]="(courseList[courseList.length-1].name == line.menu.name) && !initialized">
            <div menuanimation (reload)="menuAnimation()">
            </div>
          </template>
        </li>
      </ul>
    </div>
  </div>
</div>
<main>
  <template [ngIf]="imageList.length > 0">
    <ul class="content">
      <li *ngFor="let image of imageList" (click)="openFullScreen(image)"><img src="{{image.imgSrc.src}}" width="300" height="200"></li>
    </ul>
  </template>
</main>
<template [ngIf]="fullScreen">
  <div class="fullscreen">
    <button (click)="closeFullScreen()">X</button>
    <button (click)="openNotebook()">Open Notebook</button>
    <div class="galleryContainer">
      <template [ngIf]="fullScreenImage.id>0">
        <button id="previous" (click)="openFullScreen(null,-1)"><</button>
      </template>
        <img width="700" height="600" src="{{fullScreenImage.imgSrc.src}}">
      <template [ngIf]="fullScreenImage.id+1 < imageList.length">
        <button id="next" (click)="openFullScreen(null,1)">></button>
      </template>
    </div>
  </div>
</template>
<div class="show"></div>
<!--
<ul>
  <li class="init-arrow-down" *ngFor="let line of menu">
    {{line.menu.name}}
    <li *ngFor="let line of menu">{{line.menu.name}}
      <ul>
        <li *ngFor="let sub of line.subMenu">
          {{sub}}
        </li>
      </ul>
    </li>
  </li>
</ul>
-->

<!--<div class="container">
    <nav>
        <ul class="coursesList">
            <li *ngFor="let course of courseList" (click)="getDates(course)">{{course.name}}</li>
        </ul>
    </nav>
    <section>
        <template [ngIf]="datesList.length > 0">
            <ul class="content">
                <li *ngFor="let date of datesList" (click)="getImages(date)">{{date}}</li>
            </ul>
        </template>
    </section>
    <main>
        <template [ngIf]="imageList.length > 0">
            <ul class="content">
                <li *ngFor="let image of imageList"><img src="{{image.imgSrc}}" width="300" height="200"></li>
            </ul>
        </template>
    </main>
</div>-->
<!-- <div class="container">
    <nav>
    	<article id="avatar">
	    	<img src="images/avatar.png">
	    	<br>
	   		<span>Hello Student! </span>
   		</article>
        <ul class="coursesList">
            <li *ngFor="let course of courseList" (click)="getDates(course)">{{course.name}}
    <template [ngIf]="(datesList.length > 0) && (chosenCourse === course)">
        <section class="dates">
            <ul >
                <li *ngFor="let date of datesList" (click)="getImages(date)">{{date}}</li>
            </ul>
        </section>
    </template>
            <img src="images/next.png" width="10px"></li>
        </ul>
    </nav>
    
    <main>
        <template [ngIf]="imageList.length > 0">
            <ul class="content">
                <li *ngFor="let image of imageList"><img src="{{image.imgSrc}}" width="300" height="200"></li>
            </ul>
        </template>
    </main>
</div> -->
<!--
<div class="gw-sidebar">
  <div id="gw-sidebar" class="gw-sidebar">
    <div class="nano-content">
      <ul class="gw-nav gw-nav-list">
        <li class="init-arrow-down" *ngFor="let course of courseList" (click)="getDates(course)"> <a href="javascript:void(0)"> <span class="gw-menu-text" >{{course.name}}</span> <b class="gw-arrow"></b> </a>
          <ul class="gw-submenu">
            <li *ngFor="let date of datesList" (click)="getImages(date)"><a href="javascript:void(0)">{{date}}</a></li>
            <li>aaa</li>
            <li>aaa</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-->
<!--
<div class="gw-sidebar">
  <div id="gw-sidebar" class="gw-sidebar">
    <div class="nano-content">
      <ul class="gw-nav gw-nav-list">
        <li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text">Navigation Menu</span> </a> </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">Category 1</span> <b class="gw-arrow"></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Menu 1</a> </li>
          </ul>
        </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">Category 2</span> <b class="gw-arrow icon-arrow-up8"></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Menu 1</a> </li>
            <li> <a href="javascript:void(0)">Menu 2</a> </li>
            <li> <a href="javascript:void(0)">Menu 3</a> </li>
          </ul>
        </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">Category 3</span> <b></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Menu 1</a> </li>
            <li> <a href="javascript:void(0)">Menu 2</a> </li>
            <li> <a href="javascript:void(0)">Menu 3</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>-->

